@page "/app/advancepayment"
@inject IAdvancePayment _advancePayment
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@using System.Security.Claims
@inject IPrivilege _privilege
@inject NavigationManager navigation
@attribute [Authorize]
<PageTitle>AdvancePayment list</PageTitle>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>AdvancePayment list</h4>
        </div>
        <div class="page-btn">
            <a class="btn btn-added" style="float:left;" href="/app/advancepaymentadd"><img src="assets/img/icons/plus.svg" alt="img" class="me-1">Add New</a>
        </div>
    </div>
    <!-- /product list -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <MudTable Items="@listModel" Dense="@dense" Hover="@hover" Filter="new Func<AdvancePaymentView,bool>(FilterFunc1)">
                    <ToolBarContent>
                        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Employee Code</MudTh>
                        <MudTh>Employee Name</MudTh>
                        <MudTh>Month</MudTh>
                        <MudTh>Amount</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="LedgerName">@context.EmploymeeCode</MudTd>
                        <MudTd DataLabel="Email">@context.EmploymeeName</MudTd>
                        <MudTd DataLabel="Phone">@context.SalaryMonth</MudTd>
                        <MudTd DataLabel="Phone">@context.Amount</MudTd>
                        <MudTd DataLabel="">
                            <a class="me-3" href="/app/advancepaymentedit/@context.AdvancePaymentId">
                                <img src="assets/img/icons/edit.svg" alt="img">
                            </a>
                            <a class="me-3 confirm-text" style="cursor:pointer;" @onclick="() =>Delete(context.AdvancePaymentId)">
                                <img src="assets/img/icons/delete.svg" alt="img">
                            </a>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </div>
        </div>
    </div>
    <!-- /product list -->
</div>




@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    IList<AdvancePaymentView> listModel;
    private bool dense = true;
    private bool hover = true;
    private string searchString1 = "";
    string strMenu = "Human Resources";
    private bool visible;
    private MudBlazor.DialogOptions dialogOptions = new() { FullWidth = true };
    string ShowDialogue;
    protected override async Task OnInitializedAsync()
    {
        //CheckPriviliagee
        var authState = await authenticationState;
        var strRole = authState.User;
        string strName = strRole.FindFirst(ClaimTypes.Role).Value;
        var strShow = await _privilege.PriviliageCheck(strMenu, strName);
        if (strShow.ShowAction == true)
        {
            await LoadData();
        }
        else
        {
            navigation.NavigateTo("/app/dashboard");
            Snackbar.Add("You dont have to privilege..", Severity.Error);
        }
    }
    private async Task LoadData()
    {
        listModel = await _advancePayment.GetAll();
        StateHasChanged();
    }
    private bool FilterFunc1(AdvancePaymentView element) => FilterFunc(element, searchString1);

    private bool FilterFunc(AdvancePaymentView element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.VoucherNo.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.EmploymeeName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    private async Task Delete(int id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            var result = await _advancePayment.Delete(id);
            if (result == true)
            {
                await LoadData();
                StateHasChanged();
                Snackbar.Add("Delete Successfully.", Severity.Success);
			}
			else
			{
                Snackbar.Add("Cannot be delete. already in used.", Severity.Info);
                StateHasChanged();
			}
        }
    }
}
