@page "/app/purchasereturn"
@inject IPurchaseReturn _purchase
@inject ICustomerSupplier _customersupplier
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@using System.Security.Claims
@inject IPrivilege _privilege
@inject NavigationManager navigation
@attribute [Authorize]
<Loader IsLoading="isLoading"></Loader>
<PageTitle>DebitNote</PageTitle>
<div class="content">
						<div class="page-header">
							<div class="page-title">
								<h4>Debit Notes</h4>
							</div>
							<div class="page-btn">
								<a href="/app/purchasereturn/@strcreate" class="btn btn-added">
									<img src="assets/img/icons/plus.svg" alt="img">Add New</a>
							</div>
						</div>

						<!-- /product list -->
						<div class="card">
							<div class="card-body">
			<!-- /Filter -->
				<div class="">
					<div class="card-body pb-0">
					<div class="row">
						<div class="col-lg col-sm-6 col-12">
							<div class="form-group">
								From Date
								<RadzenDatePicker @bind-Value=@dtFromDate DateFormat="d" Class="w-100" />
							</div>
						</div>
						<div class="col-lg col-sm-6 col-12">
							<div class="form-group">
								To Date
								<RadzenDatePicker @bind-Value=@dtToDate DateFormat="d" Class="w-100" />
							</div>
						</div>
							<div class="col-lg col-sm-6 col-12">
								<div class="form-group">
									Bill No
									<input type="text" @bind="@strVoucherNo" placeholder="Bill No">
								</div>
							</div>
						<div class="col-lg col-sm-6 col-12">
							<div class="form-group">
								Supplier
								<RadzenDropDown Style="width:100%;" @bind-Value="@LedgerId" Placeholder="Choose Supplier" AllowFiltering="true" Data="@(listLedger)" TextProperty="LedgerName" ValueProperty="LedgerId" />
							</div>
						</div>
						<div class="col-lg-1 col-sm-6 col-12">
							<div class="form-group" style="margin-top:20px;">
								<a class="btn btn-filters ms-auto" @onclick="()=>LoadData()"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Filter -->
			
								<div class="table-responsive table-scrollable">
				<MudTable Items="@listModel" Dense="@dense" Hover="@hover" Filter="new Func<PurchaseReturnMasterView,bool>(FilterFunc1)">
					<ToolBarContent>
						<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
					</ToolBarContent>
                    <HeaderContent>
                        <MudTh>Supplier Name</MudTh>
                        <MudTh>Bill No</MudTh>
                        <MudTh>Date</MudTh>
                        <MudTh>Total</MudTh>
						<MudTh>Status</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
							<RowTemplate>
								<MudTd DataLabel="LedgerName">@context.LedgerName</MudTd>
								<MudTd DataLabel="Email">@context.VoucherNo</MudTd>
								<MudTd DataLabel="Date">@context.Date</MudTd>
								<MudTd DataLabel="GrandTotal">@PublicVariables._Symbol@context.GrandTotal</MudTd>
						@if (context.Status == "Draft")
								{
							<MudTd DataLabel="Status" Class="badges bg-lightred">@context.Status</MudTd> <br />
							<MudTd DataLabel="PaymentStatus" Class="badges bg-lightred">APPROVAL PENDING</MudTd>
								}
								else
								{
							<MudTd DataLabel="Status" Class="badges bg-lightgreen">@context.Status</MudTd>
								}
								<MudTd DataLabel="">
							@if (context.Status == "Draft")
							{
								<a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu"  >
									<li>
										<a href="/app/purchasereturnview/@context.PurchaseReturnMasterId" class="dropdown-item"><img src="assets/img/icons/eye1.svg" class="me-2" alt="img">View</a>
									</li>
									<li>
										<a href="/app/purchasereturnedit/@context.PurchaseReturnMasterId" class="dropdown-item"><img src="assets/img/icons/plus-circle.svg" class="me-2" alt="img">Update</a>
									</li>
									<li>
										<a @onclick="()=> Delete(context)" class="dropdown-item confirm-text"><img src="assets/img/icons/delete1.svg" class="me-2" alt="img">Delete Bill</a>
									</li>
								</ul>
							}
							else
							{
								<a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/app/purchasereturnview/@context.PurchaseReturnMasterId" class="dropdown-item"><img src="assets/img/icons/eye1.svg" class="me-2" alt="img">View</a>
									</li>
									<li>
										<a @onclick="()=> Delete(context)" class="dropdown-item confirm-text"><img src="assets/img/icons/delete1.svg" class="me-2" alt="img">Delete Bill</a>
									</li>
								</ul>
							}
								</MudTd>
							</RowTemplate>
							<PagerContent>
								<MudTablePager />
							</PagerContent>
						</MudTable>
								</div>
							</div>
						</div>
						<!-- /product list -->
					</div>

@code {
	[CascadingParameter]
	public Task<AuthenticationState> authenticationState { get; set; }
	string strcreate = "Create";
	private bool dense = true;
	private bool hover = true;
	IList<AccountLedgerView> listLedger;
	IList<PurchaseReturnMasterView> listModel;
	DateTime dtFromDate = DateTime.UtcNow.AddDays(-7);
	DateTime dtToDate = DateTime.UtcNow;
	string strVoucherNo = string.Empty;
	int LedgerId = 0;
	string strMenu = "Purchase";
	private string searchString1 = "";
	private bool isLoading = true;
	protected override async Task OnInitializedAsync()
	{
		//CheckPriviliagee
		var authState = await authenticationState;
		var strRole = authState.User;
		string strName = strRole.FindFirst(ClaimTypes.Role).Value;
		var strShow = await _privilege.PriviliageCheck(strMenu, strName);
		if (strShow.ShowAction == true)
		{
			await LoadData();
		}
		else
		{
			navigation.NavigateTo("/app/dashboard");
			Snackbar.Add("You dont have to privilege..", Severity.Error);
		}
	}
	private async Task LoadData()
	{
		
		listModel = await _purchase.PurchaseReturnInvoiceSearch(dtFromDate, dtToDate, strVoucherNo, LedgerId);
		isLoading = false;
		StateHasChanged();
	}
	private bool FilterFunc1(PurchaseReturnMasterView element) => FilterFunc(element, searchString1);

	private bool FilterFunc(PurchaseReturnMasterView element, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (element.LedgerName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (element.VoucherNo.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (element.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}
	private async Task Delete(PurchaseReturnMasterView view)
	{
		bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
		if (confirmed)
		{
			PurchaseReturnMaster deletePurchase = new PurchaseReturnMaster();
			deletePurchase = await _purchase.GetbyId(view.PurchaseReturnMasterId);
			var result = await _purchase.Delete(deletePurchase);
			if (result == true)
			{
				await LoadData();
				StateHasChanged();
				Snackbar.Add("Delete Successfully.", Severity.Success);
			}
			else
			{
				Snackbar.Add("Cannot be delete. already in used.", Severity.Info);
				StateHasChanged();
			}
		}
	}
}
