@page "/app/sales"
@inject ISalesInvoice _sales
@inject ICustomerSupplier _customersupplier
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@using System.Security.Claims
@inject IPrivilege _privilege
@inject NavigationManager navigation
@attribute [Authorize]
<Loader IsLoading="isLoading"></Loader>
<PageTitle>SalesInvoice</PageTitle>
<div class="content">
						<div class="page-header">
							<div class="page-title">
								<h4>Nota Penjualan</h4>
							</div>
							<div class="page-btn">
								<a href="/app/salesinvoiceadd" class="btn btn-added">
									<img src="assets/img/icons/plus.svg" alt="img">Add New</a>
							</div>
						</div>

						<!-- /product list -->
						<div class="card">
							<div class="card-body">
			<!-- /Filter -->
				<div class="">
					<div class="card-body pb-0">
					<div class="row">
						<div class="col-lg col-sm-6 col-12">
							<div class="form-group">
								Dari Tanggal
								<RadzenDatePicker @bind-Value=@dtFromDate DateFormat="d" Class="w-100" />
							</div>
						</div>
						<div class="col-lg col-sm-6 col-12">
							<div class="form-group">
								Ke Tanggal
								<RadzenDatePicker @bind-Value=@dtToDate DateFormat="d" Class="w-100" />
							</div>
						</div>
							<div class="col-lg col-sm-6 col-12">
								<div class="form-group">
									Nomor Nota
									<input type="text" @bind="@strVoucherNo" placeholder="Invoice No">
								</div>
							</div>
						<div class="col-lg col-sm-6 col-12">
							<div class="form-group">
								Pelanggan
								<RadzenDropDown Style="width:100%;" @bind-Value="@LedgerId" Placeholder="Choose Customer" AllowFiltering="true" Data="@(listLedger)" TextProperty="LedgerName" ValueProperty="LedgerId" />
							</div>
						</div>
						<div class="col-lg-1 col-sm-6 col-12">
							<div class="form-group" style="margin-top:20px;">
								<a class="btn btn-filters ms-auto" @onclick="()=>LoadData()"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Filter -->
			
								<div class="table-responsive">
				<MudTable Items="@listModel" Dense="@dense" Hover="@hover" Filter="new Func<SalesMasterView,bool>(FilterFunc1)">
							<ToolBarContent>
						<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
					</ToolBarContent>
                    <HeaderContent>
                        <MudTh>Nama Pelanggan</MudTh>
                        <MudTh>Nota</MudTh>
                        <MudTh>Tanggal</MudTh>
                        <MudTh>Total</MudTh>
						<MudTh>Status</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
							<RowTemplate>
								<MudTd DataLabel="LedgerName">@context.LedgerName</MudTd>
								<MudTd DataLabel="Email">@context.VoucherNo</MudTd>
								<MudTd DataLabel="Date">@context.Date</MudTd>
								<MudTd DataLabel="GrandTotal">@PublicVariables._Symbol @string.Format("{0:n0}", context.GrandTotal)</MudTd>
						@if (context.PaymentStatus == "Draft")
								{
							<MudTd DataLabel="PaymentStatus" Class="badges bg-lightred">@context.PaymentStatus</MudTd> <br/>
							<MudTd DataLabel="PaymentStatus" Class="badges bg-lightred">APPROVAL PENDING</MudTd>
								}
								else
								{
							<MudTd DataLabel="PaymentStatus" Class="badges bg-lightgreen">@context.PaymentStatus</MudTd>
								}
								<MudTd DataLabel="">
									@if (context.PaymentStatus == "Draft")
							{
								<a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu"  >
									<li>
										<a href="/app/salesinvoiceview/@context.SalesMasterId" class="dropdown-item"><img src="assets/img/icons/eye1.svg" class="me-2" alt="img">View</a>
									</li>
									<li>
										<a href="/app/salesinvoiceedit/@context.SalesMasterId" class="dropdown-item"><img src="assets/img/icons/plus-circle.svg" class="me-2" alt="img">Update</a>
									</li>
									<li>
										<a @onclick="()=> Delete(context)" class="dropdown-item confirm-text"><img src="assets/img/icons/delete1.svg" class="me-2" alt="img">Delete Bill</a>
									</li>
								</ul>
							}
							else
							{
								<a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/app/salesinvoiceview/@context.SalesMasterId" class="dropdown-item"><img src="assets/img/icons/eye1.svg" class="me-2" alt="img">View</a>
									</li>
									<li>
										<a href="/app/paymentcustomeradd/@context.SalesMasterId" class="dropdown-item"><img src="assets/img/icons/plus-circle.svg" class="me-2" alt="img">Generate Payment</a>
									</li>
									<li>
										<a href="/app/salesreturn/@context.SalesMasterId" class="dropdown-item"><img src="assets/img/icons/dollar-square.svg" class="me-2" alt="img">Generate Debit Note</a>
									</li>
									<li>
										<a @onclick="()=> Delete(context)" class="dropdown-item confirm-text"><img src="assets/img/icons/delete1.svg" class="me-2" alt="img">Delete Bill</a>
									</li>
								</ul>
							}
								</MudTd>
							</RowTemplate>
							<PagerContent>
								<MudTablePager />
							</PagerContent>
						</MudTable>
								</div>
							</div>
						</div>
						<!-- /product list -->
					</div>

@code {
	[CascadingParameter]
	public Task<AuthenticationState> authenticationState { get; set; }
	private bool dense = true;
	private bool hover = true;
	IList<AccountLedgerView> listLedger;
	IList<SalesMasterView> listModel;
	DateTime today = DateTime.Now;
	DateTime dtFromDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0);
	DateTime dtToDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);	
	string strVoucherNo = string.Empty;
	int LedgerId = 0;
	string strMenu = "Sales";
	private string searchString1 = "";
	private bool isLoading = true;
	protected override async Task OnInitializedAsync()
	{
		//CheckPriviliagee
		var authState = await authenticationState;
		var strRole = authState.User;
		string strName = strRole.FindFirst(ClaimTypes.Role).Value;
		var strShow = await _privilege.PriviliageCheck(strMenu, strName);
		if (strShow.ShowAction == true)
		{
			listLedger = await _customersupplier.GetAll(26); //ReceiableGroupId
			DateTime today = DateTime.Now;
			dtFromDate = new DateTime(today.Year, today.Month, today.Day, 0, 0, 0);
			dtToDate = new DateTime(today.Year, today.Month, today.Day);
			TimeSpan toDtTime = TimeSpan.Parse("23:59:59");
			dtToDate = dtToDate.Add(toDtTime);

			await LoadData();
		}
		else
		{
			navigation.NavigateTo("/app/dashboard");
			Snackbar.Add("Anda tidak memiliki akses.", Severity.Error);
		}
		StateHasChanged();
	}
	private async Task LoadData()
	{		
		listModel = await _sales.SalesInvoiceSearch(dtFromDate, dtToDate, strVoucherNo, LedgerId);
		listModel = listModel.OrderByDescending(x => x.Date).ToList();
		isLoading = false;
		StateHasChanged();
	}
	private bool FilterFunc1(SalesMasterView element) => FilterFunc(element, searchString1);

	private bool FilterFunc(SalesMasterView element, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (element.LedgerName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (element.VoucherNo.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		if (element.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		return false;
	}
	private async Task Delete(SalesMasterView view)
	{
		bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
		if (confirmed)
		{
			SalesMaster delete = new SalesMaster();
			delete = await _sales.GetbyId(view.SalesMasterId);
			var result = await _sales.Delete(delete);
			if (result == true)
			{
				await LoadData();
				StateHasChanged();
				Snackbar.Add("Delete Successfully.", Severity.Success);
			}
			else
			{
				Snackbar.Add("Cannot be delete. already in used.", Severity.Info);
				StateHasChanged();
			}
		}
	}
}
