@page "/app/employeeedit/{id}"
@inject IEmployee _employee
@inject IUser _user
@inject IDesignation _designation
@inject ISalaryPackage _salaryPackage
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@using System.Security.Claims
@using QuickAccounting.Components
@inject IPrivilege _privilege
@inject NavigationManager navigation
@attribute [Authorize]
<PageTitle>Edit Data Karyawan</PageTitle>
<Loader IsLoading="isProcessing"></Loader>
<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Edit Data Karyawan</h4>
							<h6>Employee</h6>
						</div>
					</div>
					<!-- /add -->
					<div class="card">
						<div class="card-body">
							<EditForm Model="model" OnValidSubmit="Save">
            <DataAnnotationsValidator />
							<div class="row">
								<div class="col-lg-8 col-sm-6 col-12">
									<div class="form-group">
										<label>Nama Karyawan</label>
										<input type="text" @bind="model.EmployeeName" >
							<ValidationMessage For="@(() => model.EmployeeName)" />
									</div>
								</div>
								<div class="col-lg-4 col-sm-6 col-12">
									<div class="form-group">
										<label>Kode Karyawan</label>
										<input type="text" @bind="model.EmployeeCode" >
							<ValidationMessage For="@(() => model.EmployeeCode)" />
									</div>
								</div>
								<div class="col-lg-4 col-sm-6 col-12">
									<div class="form-group">
							<label>Designation</label>
										<select class="form-control" @bind="model.DesignationId">
											<option value="0">Choose</option>
											@if(listDesignation !=null)
											{
											@foreach(var item in listDesignation)
								{
									<option value="@item.DesignationId">@item.DesignationName</option>
								}
											}
							</select>
							<ValidationMessage For="@(() => model.DesignationId)" />
									</div>
								</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>Salary Package (Abaikan)</label>
							<select class="form-control" @bind="model.DefaultPackageId">
								<option value="0">Choose</option>
								@if (listPackage != null)
								{
									@foreach (var item in listPackage)
									{
										<option value="@item.SalaryPackageId">@item.SalaryPackageName</option>
									}
								}
							</select>
							<ValidationMessage For="@(() => model.DefaultPackageId)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
									<div class="form-group">
									<label>Username/Login</label>
										<select disabled="disabled" class="form-control" @bind="model.UserID">
										<option value="0">Pilih</option>
										@if (listUsernames != null)
										{
											@foreach (var item in listUsernames)
											{
												<option value="@item.UserId">@item.UserName</option>
											}
										}
									</select>
							<ValidationMessage For="@(() => model.UserID)" />
									</div>
								</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>Pilih Supervisor</label>
							<select class="form-control" @bind="model.SupervisorID">
								<option value="0">Pilih</option>
								@if (listSupervisors != null)
								{
									@foreach (var item in listSupervisors)
									{
										<option value="@item.EmployeeId">@item.EmployeeName</option>
									}
								}
							</select>
							<ValidationMessage For="@(() => model.SupervisorID)" />
						</div>
					</div>
					<div class="col-lg-8 col-sm-6 col-12">
						<div class="form-group">
							<label>Tanggal Lahir</label>
							<RadzenDatePicker @bind-Value=@model.Dob DateFormat="d" Class="w-100" />
							<ValidationMessage For="@(() => model.Dob)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
									<div class="form-group">
							<label>Status Pernikahan</label>
							<select class="form-control" @bind="model.MaritalStatus">
								<option value="Married">Menikah</option>
								<option value="UnMarried">Belum Menikah</option>
							</select>
									</div>
								</div>
								<hr/>
								<div class="col-lg-4 col-sm-6 col-12">
									<div class="form-group">
							<label>Jenis Kelamin</label>
							<select class="form-control" @bind="model.Gender">
								<option value="Male">Laki-laki</option>
								<option value="Female">Perempuan</option>
							</select>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6 col-12">
									<div class="form-group">
							<label>Kualifikasi/Pendidikan</label>
							<input type="text" @bind="model.Qualification">
							<ValidationMessage For="@(() => model.Qualification)" />
									</div>
								</div>
								<div class="col-lg-4 col-sm-6 col-12">
									<div class="form-group">
							<label>Alamat</label>
							<input type="text" @bind="model.Address">
							<ValidationMessage For="@(() => model.Address)" />
									</div>
								</div>
								<h6>Data Tambahan</h6>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>No Telepon</label>
							<input type="text" @bind="model.PhoneNumber">
							<ValidationMessage For="@(() => model.PhoneNumber)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>Nomor HP</label>
							<input type="text" @bind="model.MobileNumber">
							<ValidationMessage For="@(() => model.MobileNumber)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>Email</label>
							<input type="text" @bind="model.Email">
							<ValidationMessage For="@(() => model.Email)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>NIK</label>
							<input type="text" @bind="model.NIK">
							<ValidationMessage For="@(() => model.NIK)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>ID BPJS TK</label>
							<input type="text" @bind="model.ID_BPJS_TK">
							<ValidationMessage For="@(() => model.ID_BPJS_TK)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>ID BPJS KES</label>
							<input type="text" @bind="model.ID_BPJS_KES">
							<ValidationMessage For="@(() => model.ID_BPJS_KES)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>Rekening</label>
							<input type="text" @bind="model.BankAccount">
							<ValidationMessage For="@(() => model.BankAccount)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>RP BPJS TK</label>
							<input type="text" @bind="model.BPJS_TK">
							<ValidationMessage For="@(() => model.BPJS_TK)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>RP BPJS KES</label>
							<input type="text" @bind="model.BPJS_KES">
							<ValidationMessage For="@(() => model.BPJS_KES)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<div class="form-group">
							<label>Tanggal Mulai Kerja</label>
							<RadzenDatePicker @bind-Value=@model.JoiningDate DateFormat="d" Class="w-100" />
							<ValidationMessage For="@(() => model.JoiningDate)" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-12">
						<label>Model Gajian</label>
						<select @bind="model.SalaryType" class="form-control">
							<option value="Daily wage">Harian</option>
							<option value="Monthly">Bulanan</option>
						</select>
					</div>
					<div class="col-lg-1 col-sm-6 col-12">
						<label>Gaji Harian</label>
						<input type="text" class="form-control" @bind="model.DailyWage">
					</div>
					<div class="col-lg-1 col-sm-6 col-12">
						<label>Tunjangan</label>
						<input type="text" class="form-control" @bind="model.Tunjangan">
					</div>					
								<div class="col-lg-12">
									<button type="submit" class="btn btn-submit me-2">Submit</button>
						<a href="/app/employee" class="btn btn-cancel">Cancel</a>
								</div>
								
							</div>
							</EditForm>
						</div>
					</div>
					<!-- /add -->	
					@if(listSalaryHistory != null && listSalaryHistory.Count > 0)
					{
						<h4>Riwayat Perubahan Gaji</h4>					
						<div class="card">
							<div class="card-body">
								<div class="table-responsive table-scrollable">
								<table class="mud-table-root">
									<thead class="mud-table-head">
										<!--!-->
										<tr class="mud-table-row">
											<!--!-->
											<th scope="col" class="mud-table-cell">Jenis Pendapatan</th>	
											<th scope="col" class="mud-table-cell">Tanggal Diubah</th>
											<th scope="col" class="mud-table-cell">Jumlah</th>
											<th scope="col" class="mud-table-cell"></th>
										</tr>
									</thead>
									<tbody class="mud-table-body">
										@foreach(var salary in listSalaryHistory)
										{
										<tr class="mud-table-row" style="">										
											<td class="mud-table-cell">
												@salary.SalaryType
											</td>
											<td class="mud-table-cell">
												@salary.DateModified.ToString("dd-MMM-yyyy")
											</td>
											<td class="mud-table-cell">
												@salary.Amount.ToString("N2")
											</td>
											<td class="mud-table-cell">
												<a @onclick="(() => { OpenDeleteDialog(salary.ID); })" class="btn btn-danger" style="color:#fff !important; font-size:12px !important;">HAPUS</a>
											</td>
										</tr>
										}
									</tbody>
								</table>
								</div>
							</div>
						</div>
					}
				</div>
@if (DeleteDialogOpen)
{
    <ModalDialog Title="Hapus Histori Gaji"
                 Text="Apakah anda yakin anda ingin menghapus data ini?"
                 OnClose="@OnDeleteDialogClose"
                 DialogType="ModalDialog.ModalDialogType.Delete">
    </ModalDialog>
}
@code {
	[Parameter]
	public string id { get; set; }
	[CascadingParameter]
	public Task<AuthenticationState> authenticationState { get; set; }
	static Employee model = new Employee();
	IList<DesignationView> listDesignation;
	IList<SalaryPackage> listPackage;
	string strMenu = "Human Resources";	

	List<UserView> listUsernames = new List<UserView>();
	List<Employee> listSupervisors = new List<Employee>();
	bool isProcessing;
	UserMaster modelUser = new UserMaster();
	Employee modelEmployee = new Employee();
	decimal oldDailyWage = 0;
	decimal oldTunjangan = 0;
    List<SalaryHistory> listSalaryHistory = new List<SalaryHistory>();
	public bool DeleteDialogOpen { get; set; }
	int SelectedItemId = 0;

	private void OpenDeleteDialog(int id)
    {
        SelectedItemId = id;

        DeleteDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
			DeleteSalaryRecord();
        }

        DeleteDialogOpen = false;
        StateHasChanged();

        navigation.NavigateTo("/app/employee", true);
    }

	private async Task DeleteSalaryRecord()
    {        
        isProcessing = true;

        try
        {            
            await _employee.DeleteSalaryHistory(SelectedItemId);            
        }        
        catch (Exception ex)
        {
            Snackbar.Add("Terjadi kesalahan pada system. Tolong di screenshot: " + ex.Message + Environment.NewLine + ex.StackTrace, Severity.Error);
        }

		isProcessing = false;        
    }

	protected override async Task OnInitializedAsync()
	{
		isProcessing = true;

		//CheckPriviliagee
		var authState = await authenticationState;
		var strRole = authState.User;
		string strName = strRole.FindFirst(ClaimTypes.Role).Value;
		var strShow = await _privilege.PriviliageCheck(strMenu, strName);
		var user = authState.User;
		var userName = user.Identity.Name;
		modelUser = await _user.UserProfile(userName);
		modelEmployee = await _employee.GetbyUserId(modelUser.UserId);
		if (strShow.ShowAction == true)
		{
			await LoadData();

			isProcessing = false;
			StateHasChanged();
		}
		else
		{
			navigation.NavigateTo("/app/dashboard");
			Snackbar.Add("Anda tidak memiliki akses", Severity.Error);
		}
	}

	private async Task LoadData()
	{
		model = await _employee.GetbyId(Convert.ToInt32(id));
		listDesignation = await _designation.GetAll();
		listPackage = await _salaryPackage.GetAll();
		listUsernames = await _user.GetAll();
		listSupervisors = await _employee.GetSupervisors();		

		oldDailyWage = model.DailyWage;
		oldTunjangan = model.Tunjangan;
        
        listSalaryHistory = await _employee.GetSalaryHistoryByEmployeeId(model.EmployeeId);

		StateHasChanged();
	}

	private async Task Save()
	{
        isProcessing = true;

		var isCheck = await _employee.CheckNameId(model.EmployeeName);
		if (isCheck == model.EmployeeId || isCheck == 0)
		{
			model.Narration = string.Empty;
			model.isActive = true;

			bool result = await _employee.Update(model);
			if (result == true)
			{
				if(oldDailyWage != 0 && oldDailyWage != model.DailyWage)
				{
                    SalaryHistory modelHistory = new SalaryHistory();
                    modelHistory.EmployeeID = model.EmployeeId;
					modelHistory.Amount = oldDailyWage;
                    modelHistory.DateModified = DateTime.Now;
					modelHistory.SalaryType = "Gaji Harian";
					modelHistory.ModifiedBy = modelEmployee.EmployeeId;
					
					await _employee.InsertSalaryHistory(modelHistory);
                }
                if (oldTunjangan != 0 && oldTunjangan != model.Tunjangan)
				{
					SalaryHistory modelHistory = new SalaryHistory();
					modelHistory.EmployeeID = model.EmployeeId;
					modelHistory.Amount = oldTunjangan;
					modelHistory.DateModified = DateTime.Now;
					modelHistory.SalaryType = "Tunjangan";
					modelHistory.ModifiedBy = modelEmployee.EmployeeId;

					await _employee.InsertSalaryHistory(modelHistory);
				}

				Snackbar.Add("Data telah diperbarui", Severity.Success);
				StateHasChanged();
				navigation.NavigateTo("/app/employee");
			}
			else
			{
				Snackbar.Add("Mohon dicek kembali data-datanya", Severity.Error);
                isProcessing = false;
				StateHasChanged();
			}
		}
		else
		{
			Snackbar.Add("Nama karyawan tsb. sudah ada di system.", Severity.Info);

            isProcessing = false;
            StateHasChanged();
		}
	}
}
