@page "/app/receiptedit/{id}"
@inject ICustomerSupplier _ledger
@inject IPaymentIn _payment
@inject ISnackbar Snackbar
@inject NavigationManager navigation
@using System.Security.Claims
@using QuickAccounting.Components
@inject IPrivilege _privilege
@inject NavigationManager navigation
@attribute [Authorize]
<Loader IsLoading="isLoading"></Loader>
<PageTitle>ReceiptVoucher Edit</PageTitle>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Edit Receipt</h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>#Receipt No</label>
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-10">
                                <input type="text" @bind="master.VoucherNo" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Receipt At</label>
                        <div class="row">
                            <div class="col-lg-12 col-sm-11 col-11">
                                <RadzenDropDown Style="width:100%;" @bind-Value="@master.LedgerId" Placeholder="Choose Cash/Bank account" AllowFiltering="true" Data="@(listCashBank)" TextProperty="LedgerName" ValueProperty="LedgerId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Receipt Date </label>
                        <div class="input-groupicon">
                            <RadzenDatePicker @bind-Value=@master.Date DateFormat="d" Class="w-100" />
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="table-responsive table-scrollable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Accounts</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int sno = 0;
                            }
                            @foreach (var td in TodoList)
							{
                                
                            <tr>
                                  @{
                                        sno++;
                                    }  
                                    <td><RadzenDropDown Style="width:100%;" @bind-Value="td.LedgerId" Placeholder="Choose Supplier" AllowFiltering="true" Data="@(listLedger)" TextProperty="LedgerName" ValueProperty="LedgerId" Change="@(e => editItem(td.Id))" /></td>
                                    <td><input type="number" @bind-value="td.TotalAmount" style="width: 120px" class="form-control" @onkeyup="@(e => editItem(td.Id))" @onclick="@(e => editItem(td.Id))" @bind-value:event="oninput"></td>
                                    <td>
                                        <a type="button" @onclick="@DefaultAddtoList" style="background:gray;border-radius: 12px;height: 24px;"><img src="assets/img/icons/add-circle.svg" alt="svg"></a>
                                        <a @onclick="@(e => deleteItem(td.Id , sno , td.ReceiptDetailsId))"><img src="assets/img/icons/delete.svg" alt="svg"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Total </label>
                        <div class="input-groupicon">
                            <input type="number" @bind="master.Amount" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Note </label>
                        <div class="input-groupicon">
                            <input type="text" style="width:100%;" @bind="master.Narration" />
                        </div>
                    </div>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="payment-options">
                        <div class="column-5">
                            <Loading IsLoading="isProcessing">
                                <button @onclick="@Save" class="btn btn-submit me-2">Save</button>
                            </Loading>
                        </div>

                        <div class="column-5">
                            <a href="/app/receipt" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string id { get; set; }
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    ReceiptMaster master = new ReceiptMaster();
    IList<AccountLedgerView> listCashBank;
    IList<AccountLedgerView> listLedger;
    int decPaymentInVoucher = 3;
    int editedID = 0;
    IList<ReceiptDetailsView> TodoList = new List<ReceiptDetailsView>();
    ReceiptDetailsView details = new ReceiptDetailsView();
    int counts;
    //HoldDeleteItem
    List<DeleteItem> deleteNo = new List<DeleteItem>();
    string strMenu = "Accounting";
    bool isProcessing;
    private bool isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        //CheckPriviliagee
        var authState = await authenticationState;
        var strRole = authState.User;
        string strName = strRole.FindFirst(ClaimTypes.Role).Value;
        var strShow = await _privilege.PriviliageCheck(strMenu, strName);
        if (strShow.ShowAction == true)
        {
            await LoadData();
        }
        else
        {
            navigation.NavigateTo("/app/dashboard");
            Snackbar.Add("You dont have to privilege..", Severity.Error);
        }
    }
    private async Task LoadData()
    {
        master = await _payment.GetbyId(Convert.ToInt32(id));
        TodoList = await _payment.ReceiptDetailsAllView(Convert.ToInt32(id));
        listCashBank = await _ledger.GetCashOrBank();
        listLedger = await _ledger.GetAll(26);
        OnChange();
        isLoading = false;
        StateHasChanged();
    }
    private async void Save()
    {
        isProcessing = true;
        try
        {
        if (TodoList == null)
        {
            Snackbar.Add("Invalid Entry.", Severity.Info);
        }
        else if (master.LedgerId == 0)
        {
            Snackbar.Add("Choose Cash/Bank Account.", Severity.Info);
        }
        else if (master.VoucherNo == string.Empty)
        {
            Snackbar.Add("Type Voucher No.", Severity.Info);
        }
        else
        {
            var authState = await authenticationState;
            var user = authState.User;
            string userName = user.FindFirst(ClaimTypes.Name).Value;
            master.VoucherTypeId = decPaymentInVoucher;
            master.PaymentType = "Approved";
            master.Type = "ReceiptVoucher";
            master.UserId = userName;
            master.FinancialYearId = 2;
            master.CompanyId = 1;
            master.SalesMasterId = 0;
            master.Narration = string.Empty;
            master.ModifyDate = DateTime.Now;

            foreach (var item in TodoList)
            {
                ReceiptDetails details = new ReceiptDetails();
                if (item != null)
                {
                    details.SalesMasterId = 0;
                    details.ReceiptDetailsId = item.ReceiptDetailsId;
                    details.LedgerId = item.LedgerId;
                    details.TotalAmount = item.TotalAmount;
                    details.ReceiveAmount = 0;
                    details.DueAmount = 0;
                    master.listOrder.Add(details);
                }
            }
            foreach (var items in deleteNo)
            {
                DeleteItem details = new DeleteItem();
                if (items != null)
                {
                    details.ReceiptDetailsId = items.ReceiptDetailsId;
                    master.listDelete.Add(details);
                }

            }
            bool result = await _payment.Update(master);

            if (result == true)
            {
                Snackbar.Add("Successfully Updated Receipt.", Severity.Success);
                navigation.NavigateTo($"/app/receiptview/{master.ReceiptMasterId}");
            }
            else
            {
                Snackbar.Add("Invalid.", Severity.Info);
            }
        }
    }
    finally
    {
        isProcessing = false;
    }
}
    private async void OnChange()
    {
        //Addtolist
    }
    private async void DefaultAddtoList()
    {
        var myTodoItem = new ReceiptDetailsView()
            {
                Id = TodoList.Count() + 1,
                ReceiptDetailsId = 0,
                LedgerId = 0,
                TotalAmount = 0
            };
        TodoList.Add(myTodoItem);
        details.LedgerId = 0;
        details.TotalAmount = 0;
        StateHasChanged();
    }
    private async void AddToList()
    {
        if (editedID == 0)
        {
            var myTodoItem = new ReceiptDetailsView()
                {
                    Id = TodoList.Count() + 1,
                    ReceiptDetailsId = details.ReceiptDetailsId,
                    LedgerId = details.LedgerId,
                    TotalAmount = details.TotalAmount
                };
            TodoList.Add(myTodoItem);
            details.ReceiptDetailsId = 0;
            details.LedgerId = 0;
            details.TotalAmount = 0;
        }
        else
        {
            var myTodos = TodoList.FirstOrDefault(x => x.Id == editedID);
            myTodos.ReceiptDetailsId = details.ReceiptDetailsId;
            myTodos.LedgerId = details.LedgerId;
            myTodos.TotalAmount = details.TotalAmount;
            editedID = 0;
            details.ReceiptDetailsId = 0;
            details.LedgerId = 0;
            details.TotalAmount = 0;
        }
        CalculateTotal();
        StateHasChanged();
    }
    void editItem(int id)
    {
        var myTodo = TodoList.FirstOrDefault(x => x.Id == id);
        details.ReceiptDetailsId = myTodo.ReceiptDetailsId;
        details.LedgerId = myTodo.LedgerId;
        details.TotalAmount = myTodo.TotalAmount;
        editedID = id;
        AddToList();
    }
    private async Task deleteItem(int id, int index, int intReceiptDetailsId)
    {

        if (index > 1)
        {
            if (intReceiptDetailsId == 0)
            {
                var myTodo = TodoList.FirstOrDefault(x => x.Id == id);
                TodoList.Remove(myTodo);

            }
            else
            {
                var myTodo = TodoList.FirstOrDefault(x => x.ReceiptDetailsId == intReceiptDetailsId);
                TodoList.Remove(myTodo);

                //HoldId
                var myHoldId = new DeleteItem()
                    {
                        ReceiptDetailsId = myTodo.ReceiptDetailsId,
                    };
                deleteNo.Add(myHoldId);
            }
            editedID = 0;
            CalculateTotal();
            StateHasChanged();
        }
        else
        {
            Snackbar.Add("Default value cannot be delete.", Severity.Info);
        }
    }
    void CalculateTotal()
    {
        decimal decTotalAmount = 0;
        foreach (var todo in TodoList)
        {
            decTotalAmount = decTotalAmount + todo.TotalAmount;
        }
        master.Amount = Math.Round(decTotalAmount, 2);
    }
}
