@page "/app/stokopnamvov"
@using System.Security.Claims;
@using QuickAccounting.Data.Recording;
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject IUser _user
@inject IEmployee _employee
@inject IWebHostEnvironment _hostingEnvironment
@inject IPrivilege _privilege
@inject NavigationManager navigation
@inject IDailyRecordingService _recording
@inject ApplicationDbContext _db
@inject IStockAkhirService _stockAkhirService
@attribute [Authorize]

<PageTitle>Stok Opnam VOV</PageTitle>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Stok Opnam VOV</h4>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            @if (FormSubmitted == false)
            {                

                @* <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label>Record Date</label>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <input type="text" class="form-control" value="@RecordDate.ToString("dd/MM/yyyy")" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <div class="table-responsive table-scrollable">                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Produk</th>
                                            <th>Sisa</th>
                                            <th>Satuan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var product in VOVItems)
                                    {
                                        <tr>
                                                <td style="text-align:left !important;">@product.Name</td>
                                                <td><input type="text" @bind="@product.Usage" class="form-control" /></td>
                                                <td>@product.Satuan</td>
                                        </tr>                                                                 
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <br /> <br />
                <div class="row">
                    <div class="col-lg-12" style="text-align: center !important;">
                        <input type="button" @onclick="@(e => SaveVOVAsync())" class="btn btn-submit me-2" value="Simpan Stok Opnam VOV" />
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="form-group" style="text-align: center !important;">
                            <label style="font-size:24px; font-weight:bold;">Data Stok Opnam VOV telah tersimpan.</label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    private DateTime RecordDate { get; set; }
    private bool FormSubmitted { get; set; }

    DateTime TodaysDate;

    private DailyRecording CurrentRecording;
    string strMenu = "Form Stok Opnam Recording VOV";

    private UserMaster modelUser;
    private Employee modelEmployee;

    List<StockOpnam> StockAkhirs = new List<StockOpnam>();
    List<VOVItem> VOVItems = new List<VOVItem>();

    private void SetTodaysDate()
    {
        var today = DateTime.Now;
        TodaysDate = new DateTime(today.Year, today.Month, today.Day, 0, 0, 0);
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var currentUser = authState.User;
        string strName = currentUser.FindFirst(ClaimTypes.Role).Value;
        string userName = currentUser.FindFirst(ClaimTypes.Name).Value;
        var strShow = await _privilege.PriviliageCheck(strMenu, strName);
        modelUser = await _user.UserProfile(userName);
        modelEmployee = await _employee.GetbyUserId(modelUser.UserId);

        if (strShow.ShowAction == true)
        {           
            SetTodaysDate();           

            var newItems = (from p in _db.Product
                            join u in _db.Unit on p.UnitId equals u.UnitId // Assuming the table is _db.Unit
                            where p.GroupId == 7
                            select new VOVItem
                {
                    ID = p.ProductId,
                    Name = p.ProductName,
                    Usage = 0,
                    Day = 0,
                    Satuan = u.UnitName, // Assign the string name here
                    GroupId = p.GroupId
                }).ToList();
            VOVItems.AddRange(newItems);
        }
        else
        {
            navigation.NavigateTo("/app/dashboard");
            Snackbar.Add("Anda tidak memiliki akses.", Severity.Error);
        }

        StateHasChanged();
    }

    private async Task SaveVOVAsync()
    {
        // Determine record date: prefer explicit RecordDate, fall back to TodaysDate
        var stockDate = RecordDate != default(DateTime) ? RecordDate : TodaysDate;
        int countSave = 0;

        foreach (var item in VOVItems)
        {
            if (item.Usage > 0)
            {
                // Create StockOpnam record using the StockOpnam service
                var stock = new StockOpnam
                {
                    ProductID = item.ID,
                    GroupId = item.GroupId,
                    StockAkhir = item.Usage,
                    StockDate = TodaysDate,
                    CreatedDate = DateTime.Now,
                    CreatedBy = modelEmployee.EmployeeId
                };

                StockAkhirs.Add(stock);
                countSave++;
            }
        }

        if (countSave > 0)
        {
            try
            {
                await _stockAkhirService.CreateAllAsync(StockAkhirs);
                await _db.SaveChangesAsync();
            }
            catch (Exception ex)
            {
                Snackbar.Add($"Error saving data: {ex.InnerException.Message}", Severity.Error);
                return;
            }

            Snackbar.Add("Stok Opnam VOV data telah tersimpan.", Severity.Success);
            FormSubmitted = true;
            StateHasChanged();
        }
        else
        {
            Snackbar.Add("Stok Opnam VOV belum tersimpan.", Severity.Error);
        }
    }

    public class VOVItem
    {
        public int ID { get; set; }
        public string Name { get; set; }
        public decimal Usage { get; set; }
        public int Day { get; set; }
        public string Satuan { get; set; }
        public int GroupId { get; set; }
    }
}
